#grad2 {
  background-color: black;
  text-align: center;
  color: white;
  max-width: 100%;
  overflow-x: hidden;
}
html {
  oveflow-x: hidden;
}
#head1 {
  text-align: center;
  text-shadow: 1px 0.5px orange;
  font-weight: bold;
  
}

img {
  filter : drop shadow(16px 16px 10px white);
  }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: orange;
  color: black;
}

#Optimism_P, #Trust_P, #TheHand_P, #Me-Time_P, #Dream_P, #Respect_P, #AKA_P  {
  text-decoration-line: underline;
  font-weight: bold;
}
#button1 {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#button1 {
  background-color: black; 
  color: white; 
  border: 2px solid #04AA6D;
}

#button1:hover {
  background-color: orange;
  color: black;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
